<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlin">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application>
<!--        <provider-->
<!--            android:authorities="${applicationId}.provider"-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/file_paths"/>-->
<!--        </provider>-->

        <activity android:name=".activity.test.TestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.camera.CameraActivity"/>
        <activity android:name=".activity.pqpo.CameraTestActivity"/>
        <activity android:name=".activity.device.DeviceListActivity"/>

    </application>

</manifest>