<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sudo">
    <application>
        <activity android:name=".ui.activegame.ActiveGameActivity"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ui.newgame.NewGameActivity"
            android:configChanges="orientation|keyboardHidden"/>
    </application>
</manifest>